
@{
    ViewBag.Title = "DashboardSetUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DashboardSetUp</h2>

Screen to set up Dashboard
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well-sm">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Sample","Test")">Document Flow</a></li>
                    <li><a href="@Url.Action("Index","Administrative")">Administrative</a></li>
                    <li class="active">Dashboard Set Up</li>
                </ol>
            </div>
        </div>
    </div>
</div>