
@{
    ViewBag.Title = "Favourites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Favourites</h2>

displays all the favourite documents that are marked as * by me
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well-sm">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Sample","Test")">Document Flow</a></li>
                    <li><a href="@Url.Action("Index","Personal")">Administrative</a></li>
                    <li class="active">Users</li>
                </ol>
            </div>
        </div>
    </div>
</div>