
@{
    ViewBag.Title = "Mails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mails</h2>

email screen for personal controller so that he/ she can send and check the emails 
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well-sm">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Sample","Test")">Document Flow</a></li>
                    <li><a href="@Url.Action("Index","Personal")">Personal</a></li>
                    <li class="active">Mails</li>
                </ol>
            </div>
        </div>
    </div>
</div>